<div class="row">
  <h2 align="left">Filtres</h2>

  <div class="card">
    <!-- card-group-item.// -->

    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Type</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="example"
              (click)="onCategoryChange('popular')"
              value=""
              [checked]="category == 'popular'"
            />
            <span class="form-check-label">
              Populaires
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="example"
              (click)="onCategoryChange('top_rated')"
              [checked]="category == 'top_rated'"
              value=""
            />
            <span class="form-check-label">
              Top rated
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="example"
              (click)="onCategoryChange('now_playing')"
              [checked]="category == 'now_playing'"
              value=""
            />
            <span class="form-check-label">
              Now playing
            </span>
          </label>
        </div>
        <!-- card-body.// -->
      </div>
    </article>
    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Langues</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadio"
              value=""
              (click)="onLanguageChange('all')"
              [checked]="language == 'all'"
            />
            <span class="form-check-label">
              Tout
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadio"
              value=""
              (click)="onLanguageChange('fr')"
              [checked]="language == 'fr'"
            />
            <span class="form-check-label">
              Français
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadio"
              value=""
              (click)="onLanguageChange('en')"
              [checked]="language == 'en'"
            />
            <span class="form-check-label">
              Anglais
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadio"
              (click)="onLanguageChange('it')"
              [checked]="language == 'it'"
              value=""
            />
            <span class="form-check-label">
              Italien
            </span>
          </label>
          <label class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadio"
              (click)="onLanguageChange('ja')"
              [checked]="language == 'ja'"
              value=""
            />
            <span class="form-check-label">
              Japonais
            </span>
          </label>
        </div>
        <!-- card-body.// -->
      </div>
    </article>
    <!-- card-group-item.// -->
  </div>
  <!-- card.// -->
</div>
