<div class="container">
  <div class="card">
    <div class="card-header">
      Invoice
      <strong>{{ facture.date }}</strong>
      <span class="float-right"> <strong>Status:</strong> Envoyé</span>
    </div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-sm-6">
          <h6 class="mb-3">Du</h6>
          <div>
            <strong>{{ facture.nomRestaurant }}</strong>
          </div>
          <div>Adresse</div>
          <div>{{ facture.adresseRestaurant }}</div>
          <div>Email: {{ facture.emailRestaurant }}</div>
          <div>télephone: {{ facture.telephone }}</div>
        </div>

        <div class="col-sm-6">
          <h6 class="mb-3">à</h6>
          <div>
            <strong>{{ userName }}</strong>
          </div>
          <div>{{ facture.adresseLivraison }}</div>
        </div>
      </div>

      <div class="table-responsive-sm">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="center">#</th>
              <th>Item</th>
              <th>Ingrédients</th>

              <th class="right">Type</th>
              <th class="center">Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let plat of facture.plats">
              <td class="center">{{ plat.id }}</td>
              <td class="left strong">{{ plat.ingredients }}</td>
              <td class="left">{{ plat.type }}</td>

              <td class="right">{{ plat.prix }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-5"></div>

        <div class="col-lg-4 col-sm-5 ml-auto">
          <table class="table table-clear">
            <tbody>
              <tr>
                <td class="left">
                  <strong>Total</strong>
                </td>
                <td class="right">{{ facture.montant }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
