<section class="login-block">
  <app-login
    (setLogin)="setConnexion($event)"
    *ngIf="!authInfo.isLogged"
  ></app-login>

  <app-nav-bar
    *ngIf="authInfo.isLogged"
    (setStep)="setStep($event)"
    (setMode)="setMode($event)"
  ></app-nav-bar>
  <app-facture></app-facture>
  <app-historique *ngIf="step === 4"></app-historique>

  <div class="body" *ngIf="step === 2">
    <app-category
      (setCategory)="setCategory($event)"
      (setLanguage)="setLanguage($event)"
      [category]="category"
      [language]="language"
    ></app-category>
    <app-movies-list
      (setMovieToDisplay)="setMovieToDisplay($event)"
      [category]="category"
      [language]="language"
    ></app-movies-list>
  </div>

  <app-movie-details
    *ngIf="step === 3"
    [movie]="movieToDisplay"
    (setMoviesToOrder)="setMoviesToOrder($event)"
  ></app-movie-details>

  <div class="body" *ngIf="authInfo.isLogged && step === 1">
    <app-category-plats
      (setPlatType)="setPlatType($event)"
    ></app-category-plats>
    <app-plats-list
      (setPlatsToOrder)="setPlatsToOrder($event)"
      [type]="platType"
    ></app-plats-list>
  </div>
  <div class="body" *ngIf="step === 0">
    <app-address (validateCommande)="validateCommande($event)"></app-address>
  </div>
  <app-facture [facture]="facture"></app-facture>
  <app-profil *ngIf="step == 5" [uid]="authInfo.uid"></app-profil>
</section>
